body {
	padding: 0;
	margin: 0;
	
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	/*color: #ffffff;*/
	color: #000000;
	
	background-color: #ffffff
}

a {
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),  /* !!!!!! */
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	overflow: hidden;
	
}

.container{
	display: block;   /* для ie */
	
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	
	
}

.main-header{
	background-color: #f3f7f8;
}

.header-top{
	margin-bottom: 20px;
	background-color: #293449;
}

.header-top-nav{
	display: flex;
	justify-content: center;
}

.header-top-nav a{
	
	padding: 12px 30px 9px 45px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	
}



.header-top a:hover{
	background-color: #212a3a;
}

.header-top a:active{
	background-color: #161d29;
}

.header-top .main-header-logo{
	position: relative;
	
	padding: 12px 55px;
	padding-bottom: 9px;
	
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	
	background-color: #ee3643;
	box-shadow: 0px 5px #b52933;
	
	
}
.main-header-logo h1{
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	

}



.header-top-nav .main-header-logo:hover{
	background-color: #ca2c37;
}

.header-top-nav .main-header-logo:active{
	background-color: #ba2732;
}


.header-search input[type="search"]{
	box-sizing: border-box;
	
	width: 270px;
	padding-left: 50px;
	padding-top: 12px;
	padding-bottom: 13px;
	
	color: #ffffff;
	opacity: 1;
	
	background-color: #293449;
	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 16px 12px;
	border: none;
}

.header-search input[type="search"]:hover{
	background-color: #212a3a;
}

.header-search input[type="search"]:active,
.header-search input[type="search"]:focus{
	color: #000000;
	
	background-color: #ffffff;
	background-image: url("../img/icon-search-red.svg");
}

.header-top .bookmarks,
.header-top .basket{
	position: relative;
}

.bookmarks svg,
.basket svg{
	position: absolute;
	left: 16px;
	top: 13px;
	fill: #ffffff;
}

.header-top .order{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 9px;
	background-color: #63a63e;
}

.header-top .order:hover {
	background-color: #5fbb2d;
}

.header-top .order:active{
	background-color: #518534;
}

.header-middle{
	
}
.header-middle-nav{
	display: flex;
	justify-content: space-around;
	background-color: green;
	
}

.header-middle-nav .title{
	padding: 0px;
	margin: 0px;
	
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-middle-contacts{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding: 0px;
	margin: 0px;
	
}
.header-middle-nav .phone{
	box-sizing: border-box;
	
	position: relative;
	
	width: 270px;
	padding: 8px 40px;
	padding-left: 70px;
	margin-bottom: 5px;
	
	color: #ee3643;
	border: 3px solid #ffffff;
}

.header-middle-nav .phone svg{
	position: absolute;
	top: 7px;
	left: 15px;
}

.header-middle-nav .adress{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-nav{
	padding: 0;
	margin: 0;
	list-style: none;
}

.user-nav li{
	display: inline-block;
}

.user-nav a{
	display: block;
	
	padding: 10px 25px 15px 25px;
	
	color: #000000;
	
	background-color: #ffffff;
}
.login-link{
	margin-right: 10px;
}
