body {
	padding: 0;
	margin: 0;
	
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	/*color: #ffffff;*/
	color: #000000;
	
	background-color: #ffffff
}

a {
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),  /* !!!!!! */
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	overflow: hidden;
	
}

.container{
	display: block;   /* для ie */
	
	width: 940px;
	margin: 0 auto;
	padding: 0;
	
	
	
	
}

.main-header{
	margin-bottom: 124px;
	
	background-color: #f3f7f8;
	
}

.header-top{
	margin-bottom: 50px;
	background-color: #293449;
}

.header-top-nav{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.header-top-nav a{
	
	padding: 12px 30px 12px 45px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	
}



.header-top a:hover{
	background-color: #212a3a;
}

.header-top a:active{
	background-color: #161d29;
}

.header-top .main-header-logo{
	position: relative;
	
	
	padding: 12px 54px;
	padding-bottom: 9px;
	
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	
	background-color: #ee3643;
	box-shadow: 0px 5px #b52933;
	
	
}
.main-header-logo h1{
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	

}



.header-top-nav .main-header-logo:hover{
	background-color: #ca2c37;
}

.header-top-nav .main-header-logo:active{
	background-color: #ba2732;
}


.header-search input[type="search"]{
	box-sizing: border-box;
	
	width: 270px;
	padding-left: 50px;
	padding-top: 12px;
	padding-bottom: 13px;
	
	color: #ffffff;
	opacity: 1;
	
	background-color: #293449;
	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 16px 12px;
	border: none;
	
	cursor: pointer;
}

.header-search input[type="search"]:hover{
	background-color: #212a3a;
}

.header-search input[type="search"]:active,
.header-search input[type="search"]:focus{
	color: #000000;
	
	background-color: #ffffff;
	background-image: url("../img/icon-search-red.svg");
}

.header-top .bookmarks,
.header-top .basket{
	position: relative;
}

.bookmarks svg,
.basket svg{
	position: absolute;
	left: 16px;
	top: 13px;
	fill: #ffffff;
	opacity: 0.5;
}

.bookmarks:hover svg,
.basket:hover svg{
	opacity: 1;
}

.bookmarks:active svg,
.basket:active svg{
	opacity: 0.5;
}


.header-top .order{
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: #63a63e;
}

.header-top .order:hover {
	background-color: #5fbb2d;
}

.header-top .order:active{
	background-color: #518534;
}

.header-middle{
	margin-bottom: 45px;
}

.header-middle-nav{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	
	
	padding: 0px;
	
}

.header-middle-nav .title{
	padding: 0px;
	margin: 0px;
	
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-middle-contacts{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	
	padding: 0px;
	margin: 0px;
	
	
	
	
}
.header-middle-nav .phone{
	box-sizing: border-box;
	
	position: relative;
	
	width: 270px;
	padding: 8px 40px;
	padding-left: 70px;
	margin: 0px;
	margin-bottom: 5px;
	
	color: #ee3643;
	border: 3px solid #ffffff;
}

.header-middle-nav .phone svg{
	position: absolute;
	top: 7px;
	left: 15px;
}

.header-middle-nav .adress{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-nav{
	padding: 0;
	margin: 0;
	list-style: none;
}

.user-nav li{
	display: inline-block;
}

.user-nav a{
	display: block;
	
	padding: 10px 25px 15px 25px;
	
	color: #000000;
	
	background-color: #ffffff;
}

.user-nav a:hover{
	color: #ee3643;
}

.user-nav .login-link{
	position: relative;
	
	padding-left: 45px;
	margin-right: 10px;
	
}

.login-link svg{
	position: absolute;
	
	fill: #c5c5c5;
	
	top: 10px;
	left: 15px;
}

.login-link:hover svg{
	fill: #32425c;
}

.user-nav a:active{
	color: #c5c5c5;
}

.login-link:active svg{
	fill: #c5c5c5;
}



.main-nav ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	width: 100%;
	margin: 0;
	padding: 0;
	
	list-style: none;
	
	background-color: #32425c;
	box-shadow: 0 5px #293449;
}

.main-nav li{
	padding: 19px 31px 20px 31px;
	
	cursor: pointer;
	
}


.main-nav a{
	color: #ffffff;
}

.main-nav li:hover{
	background-color: #293449;
}

.main-nav li:active{
	background-color: #1d2739;
}

.main-nav li:active a{
	opacity: 0.5;
}


.promo ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.promo-item {
	padding: 22px 140px 18px 25px;
	
	background-repeat: no-repeat;
	
}

/*.promo-item:not(.promo-slider){
	box-sizing: border-box;
	height: 123px
	
}*/
.promo-item h3{
	margin: 0;
	margin-bottom: 12px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.promo-item a{
	display: block;
	
	width: 135px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	font-weight: 18px;
	color: #ffffff;
	text-transform: uppercase;
	
	text-align: center;
	
	
}

.promo-item-materials{
	background-color: #ffbf47;
	background-image: url("../img/icon-materials.svg");
	background-position: 220px 35px;
}

.promo-item-materials a{
	background-color: #E5AC40;
}

.promo-item-instruments{
	background-color: #3bbce3;
	background-image: url("../img/icon-instruments.svg");
	background-repeat: no-repeat;
	background-position: 200px 35px;
}

.promo-item-instruments a{
	background-color: #35a9cc;
}

.promo-item-technic{
	background-color: #dc91d8;
	background-image: url("../img/icon-technic.svg");
	background-position: 190px 35px;
}

.promo-item-technic a{
	background-color: #C682C2;
}

.promo-item-sales{
	order: 5;
	
	background-color: #8ed78f;
	background-image: url("../img/icon-sales.svg");
	background-position: 200px 25px;
}

.promo-item-sales a{
	background-color: #80C180;
}

.promo-item-delivery{
	order: 6;
	
	background-color: #ffc047;
	background-image: url("../img/icon-delivery.svg");
	background-position: 190px 35px;
}

.promo-item-delivery a{
	background-color: #E5AC40;
}

.promo-cluster{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	

	margin-top: 20px;
	
	width: 100%;
	height: 265px;
}

.promo-slider{
	order: 4;
	
	width: 620px;
	padding: 0;
	
	background-color: #ffbf47;
	background-image :url("../img/slide-1.jpg");
	background-repeat: no-repeat;
}

.dark-block{
	padding: 21px 0 21px 21px;
	margin-bottom: 100px;
	background-color: rgba(0, 0, 0, 0.25);
}

.promo-slider h3{
	margin: 0px;
	margin-bottom: 5px;
	
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.promo-slider p{
	margin: 0;
	padding: 0;
	
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.promo-slider a{
	padding: 11px 45px 11px 50px;
	margin-left: 21px;
	margin-bottom: 20px; 
	
	text-transform: uppercase;
	color: #ffffff;
	
	background-color: #ee3643;
}